
@{
    ViewBag.Title = "Información de Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<h5>
    <p>ING. ALEXANDER MARGARITO GONZÁLEZ GÓMEZ </p>
    <p>R/A HUIMANGO 2DA. SECCIÓN, CUNDUACÁN, TABASCO</p>
    <p>9934192063</p>
    <p>GOGA_2408@HOTMAIL.COM</p>
</h5>
